doctype html
html
	head
		title Person model
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		style.
			table { margin: 10px 0; }
			td { padding: 5px; }
			p table { display: inline-block; }
	body
		h1 Edit entry for Person
		p <b>Path:</b> /
			a(href='/person') person
			='/'
			a(href='/person/'+person._id)=person._id
			='/edit'
		form(action='/person/'+ person._id, method='POST')
			input(type='hidden', name='_method', value='PUT')

			fieldset
				label name
				input(name='name', value=person.name)
			fieldset
				label username
				input(name='username', value=person.username)
			fieldset
				label email
				input(name='email', value=person.email)
			fieldset
				label password
				input(name='password', value=person.password)
			fieldset
				label age
				input(name='age', value=person.age)
			fieldset
				button(action='submit') Update
				a(href='/person/'+person._id)
					button(type='button') Cancel
		p
			a(href='/person') Person home
