!!!
html
	head
		title User model
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body
		h1 Single entry for User
		ul
			li= '<b>name: </b>' + user.name 
			li= '<b>username: </b>' + user.username 
			li= '<b>email: </b>' + user.email 
			li= '<b>password: </b>' + user.password 
			li= '<b>age: </b>' + user.age 
			li= '<b>devices: </b>' + user.devices 
		a(href='/user/'+=user._id) Edit
		a(href='/user/'+=user._id +'/delete') Delete
