doctype html
html
	head
		title User model
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		style.
			table { margin: 10px 0; }
			td { padding: 5px; }
			p table { display: inline-block; }
	body
		h1 All entries for User
		p <b>Path:</b> /user
		table(border='1', cellspacing='0')
			thead
				td name
				td username
				td password
				td age
				td devices
				td car
				td
			tbody
				-for(var i=0; i<users.length; i++)
					tr
						td=users[i].name
						td=users[i].username
						td=users[i].password
						td=users[i].age
						td='[Object '+users[i].devices.length+']'
						td=users[i].car
						td
							a(href='/user/'+users[i]._id) View

		a(href='/user/new') Add new entry
